.classpath
.project
.settings/
.vimrc
.vagrant/
.groovy
.gradle/**
data
*~
.idea/
vagrant20*
d20*
npm-debug.log
grails-app/conf/LocalConfig.groovy
*selenium-server-standalone-*.jar
logs/**
target-eclipse/
target/
out/
dump*
data*
.m2
web-app/temp/**
web-app/docs
daily-*
temp/**
user-content/*
web-app/ng/app/styles/stylesheets/**
temp-file/*
plugins/rest-client-builder**
plugins/release-**
plugins/code-coverage-**
plugins/codenarc-**
cobertura.ser
web-app/images/healthcare/**
web-app/ng/log.txt
web-app/user-content/*
grails-app/views/template-cache/*
grails-*.zip
memcached-*.rpm
build/**
**/.asscache
**/.gradle
**/gradle/wrapper/**
**/gradlew
**/gradlew.bat
.assache
donar.iml
